@font-face {
    font-family: "hankengrotesk";
    font-display: swap;
    font-weight: 100 900;
    src: url(https://fonts.google.com/specimen/Hanken+Grotesk)
      format("truetype");
  }
  :root {
    --clr-primary-hsl-400: 252, 100%, 67%;
    --clr-primary-hsl-500: 256, 72%, 46%;
    --clr-secondary-hsl-400: 241, 81%, 54%;
    --clr-secondary-hsl-500: 241, 72%, 46%;

    --clr-neutral-hsl-100: 0, 0%, 100%;
    --clr-neutral-hsl-200: 221, 100%, 96%;
    --clr-neutral-hsl-300: 241, 100%, 89%;
    --clr-neutral-hsl-700: 224, 30%, 27%;

    --clr-neutral-100: hsl(var(--clr-neutral-hsl-100));
    --clr-neutral-200: hsl(var(--clr-neutral-hsl-200));
    --clr-neutral-300: hsl(var(--clr-neutral-hsl-300));
    --clr-neutral-700: hsl(var(--clr-neutral-hsl-700));

    --clr-primary-hsl-400: hsl(var(--clr-primary-hsl-400));
    --clr-primary-hsl-500: hsl(var(hsl--clr-primary-hsl-500));
    --clr-secondary-hsl-400: hsl(var(--clr-secondary-hsl-400));

    --gradient-primary: linear-gradient(
      var(--clr-primary-400) var(--clr-secondary-500)
    );

    --gradient-to-transparent: linear-gradient(
      var(--clr-primary-500),
      hsl(var(--clr-secondary-hsl-500))
    );

    --clr-accent-1: 0, 100%, 67%;
    --clr-accent-2: 39, 100%, 56%;
    --clr-accent-3: 166, 100%, 37%;
    --clr-accent-4: 234, 85%, 45%;

    --font-family-default: "hankengrotesk";

    --fw-regular: 500;
    --fw-bold: 700;
    --fw-black: 800;

    --fs-400: 1.125rem;
    --fs-500: 1.25rem;
    --fs-600: 1.5rem;
    --fs-700: 1.75rem;
    --fs-800: 2rem;
    --fs-900: 5rem;
  }

  *,
  ::before,
  ::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    font: inherit;
  }
  .attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  body {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    box-shadow: 0.5rem 1rem 3rem hsl(var(--clr-neutral-hsl-700), 0.2);
    border-radius: 30px;
  }
  
  .blue-sec {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 72%, 46%));
    color: hsl(0, 0%, 100%);
    border-radius: 30px;
    height: 100%;
    width: 55%;
  }
  .white-sec {
    display: flex;
    justify-content: space-evenly;
    /* text-align: center; */
    flex-direction: column;
    gap: 1rem;
    width: 45%;
    padding: 20px;

    /* display: flex;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 5px;
    align-items: center;
    font-size: 14px;
    padding: 5px; */
  }
  .summary {
    color: hsl(224, 30%, 27%);
    font-family: "Hanken Grotesk", sans-serif;
    font-weight: 800;
    font-size: 20px;
    /* padding: 20px; */
  }
  .logos {
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 95%;
    margin-bottom: 10px;

    border-radius: 5px;
    align-items: center;
    font-size: 14px;
    padding: 5px;
  }
  .btn {
    font-weight: 800;
    font-family: "Hanken Grotesk", sans-serif;
  }
  .one {
    background-color: hsla(0, 100%, 67%, 0.1);
  }
  .two {
    background-color: hsla(39, 100%, 56%, 0.1);
  }
  .three {
    background-color: hsla(166, 100%, 37%, 0.1);
  }
  .four {
    background-color: hsla(234, 85%, 45%, 0.1);
  }
  .first {
    color: hsl(0, 100%, 67%);
  }
  .second {
    color: hsl(39, 100%, 56%);
  }

  .third {
    color: hsl(166, 100%, 37%);
  }

  .fourth {
    color: hsl(234, 85%, 45%);
  }
  .flex-grp {
    display: flex;
    align-items: center;
  }
  svg {
    margin-right: 10px;
  }
  .button {
    color: var(--clr-neutral-100);
    line-height: 1;
    background: var(--clr-neutral-700);
    border: 0;
    border-radius: 30px;
    padding: 1rem 2rem;
    cursor: pointer;
    margin-top: 10px;
    width: 95%;
    font-weight: 800;
    font-family: "Hanken Grotesk", sans-serif;
  }
  .button:hover {
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 72%, 46%));
    cursor: pointer;
  }
  .marks {
    opacity: 0.9;
    color: rgb(95, 95, 95);
  }
  .marks span {
    font-weight: 800;
    color: black;
    font-family: "Hanken Grotesk", sans-serif;
  }

  .percent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
    padding: 20px;
    font-weight: 200;
    background: linear-gradient(
      hsla(256, 72%, 46%, 1),
      hsla(241, 72%, 46%, 0)
    );
    font-family: "Hanken Grotesk", sans-serif;
  }
  .percent span {
    font-weight: 800;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 70px;
  }

  h2 {
    opacity: 0.8;
    color: white;
    font-weight: 800;
    font-family: "Hanken Grotesk", sans-serif;
  }
  /* .text{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  } */
  .percent h1 {
    font-size: 1.5rem;
    color: white;
    font-weight: 600;
    font-family: "Hanken Grotesk", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  p {
    margin-top: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    text-align: center;
    opacity: 0.8;
    color: white;
    font-weight: 800;
    font-family: "Hanken Grotesk", sans-serif;
  }
  @media (max-width: 600px) {
    .blue-sec {
      height: 55vh;
      width: 100%;
      border-bottom-right-radius: 30px;
      border-bottom-left-radius: 30px;
      color: hsl(0, 0%, 100%);
      background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 72%, 46%));
      padding-block: 50px;
    }
    .white-sec {
      margin-top: 20px;
      display: flex;
      width: 100%;
      height: 50vh;
    }
    .container {
      height: 120%;
      border-radius: 0;
      width: 100%;
      display: flex;
      /* justify-content: center;
      align-items: center; */
      flex-direction: column;
    }
    .blue-sec h2 {
      padding-bottom: 20px;
      text-align: center;
      font-size: 20px;
      padding-top: 50px;
    }
    .text {
      padding-inline: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-weight: 200;
    }
    p {
      width: 96%;
      padding-top: 50px;
    }
    h1 {
      padding-top: 20px;
    }
    .percent {
      width: 7rem;
      height: 7rem;
    }
    .percent span {
      font-size: 45px;
    }
    .button {
      color: var(--clr-neutral-100);
      line-height: 1;
      background: var(--clr-neutral-700);
      border: 0;
      border-radius: 30px;
      padding: 1rem 2rem;
      cursor: pointer;
      /* margin-top: 10px; */
      width: 95%;
      font-weight: 800;
      font-family: "Hanken Grotesk", sans-serif;
    }
  }